@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  cursor: none;
}

.custom-cursor,
.custom-halo {
  display: none;
}

.custom-cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #00ff00;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9998;
}

.custom-halo {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9997;
  border: 2px solid transparent;
}

.link-hover-style {
  font-weight: 400;
  transition: font-weight 0.3s ease;
}

.link-hover-style:hover {
  font-weight: 500;
}

/* *** HELLO SCREEN *** */

* {
  box-sizing: border-box;
}

body {
  @apply p-0 m-0 h-screen overflow-hidden font-light font-sans;
}

.hello_container {
  @apply flex h-full w-full justify-center items-center overflow-hidden;
  background-image: url("/matiere_beton.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hello_container.columns {
  @apply content-stretch items-stretch flex-wrap;
}

.hello_letter {
  @apply text-center text-black text-[10vmax] font-normal flex items-center justify-center p-2;
}

.hello_container.columns .hello_letter {
  @apply basis-[16.6%] text-white bg-transparent bg-opacity-0 border-none;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.hello_text {
  @apply text-[5vmax] hidden p-2;
}

.hello_container.final .hello_text {
  @apply block;
}

.p {
  @apply min-w-[10%];
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}

.r {
  @apply min-w-[10%];
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}

.i {
  @apply min-w-[10%];
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}

.s {
  @apply min-w-[10%];
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}
.m {
  @apply min-w-[10%];
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}
.e {
  @apply min-w-[10%];
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}

.hello_container.plain .hello_letter {
  @apply bg-transparent text-white p-0;
}

/* *** HERO *** */

.hello_hero .column {
  flex: 1; /* valeur initiale de flex */
  background-size: cover;
  background-position: center;
  height: 100%;
}

/* *** NAVBAR *** */

@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Part du haut de l'écran */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-enter {
  animation: slideDown 0.5s ease-out forwards;
}

/* *** MENU *** */

.menu-overlay {
  background: rgba(0, 0, 0, 0.9);
  display: none;
}

.menu-content {
  transform: skewY(-6deg);
  transform-origin: top left;
}

.menu-bottom-line {
  transform: skewY(-6deg);
  transform-origin: top left;
}

.menu-content:hover p {
  opacity: 0.5;
  transition: 0.5s;
  filter: blur(0.5px);
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.menu-content p:hover {
  opacity: 1;
  transition: 0.5s;
  filter: blur(0px);
  color: #cfc2b6;
  transition: 0.5s;
}

/* *** RESET CSS *** */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
